ci:
    skip: [ggshield]

repos:

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.32.2
  hooks:
    - id: markdownlint
      name: markdown linting

- repo: https://github.com/thlorenz/doctoc
  rev: v2.2.0
  hooks:
    - id: doctoc
      name: update toc

- repo: https://github.com/gitguardian/ggshield
  rev: v1.14.2
  hooks:
    - id: ggshield
      name: gitguardian scanning

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: trailing-whitespace
      name: trailing whitespace
    - id: end-of-file-fixer
      name: end of file fixer
    - id: check-added-large-files
      name: check added large files
    - id: check-yaml
      name: check yaml
    - id: check-json
      name: check json
    - id: fix-encoding-pragma
      name: fix encoding pragma

-   repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.1
    hooks:
    -   id: autopep8
